<Files dac/web.py>
    SetHandler wsgi-script
    Options +ExecCGI
</Files>

RewriteEngine on
RewriteBase /dac
RewriteCond %{REQUEST_URI} !^/dac/config.json
RewriteCond %{REQUEST_URI} !^(/.*)+dac/web.py
RewriteRule ^(.*)$ dac/web.py/$1 [PT]
